body {
    height: 100vh;
    background-image: linear-gradient(rgb(235, 207, 165), rgb(245, 238, 238));
}

.logo {
    display: block;
    margin: auto;
    width: 50px;
    height: 50px;
}

h1 {
    margin-top: 12px;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.container {
    border-radius: 13px;
    max-width: 955px;
    border: 2px solid black;
    padding: 33px;
    overflow-y: auto;
    margin-bottom: 23px;
    margin: auto;
    height: 60vh;
}

.message {
    background-color: white;
    width: 24%;
    padding: 10px;
    margin: 17px 12px;
    border: 2px solid black;
    border-radius: 10px;
}

.left {
    float: left;
    clear: both;
}

.right {
    float: right;
    clear: both;
}

#send-container {
    display: block;
    margin: auto;
    max-width: 985px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#messageinp {
    width: 92%;
    border: 2px solid black;
    border-radius: 6px;
    height: 34px;
    font-size: 22px;
}

.btn {
    cursor: pointer;
    margin: 0 5px;
    width: 9%;
    border: 2px solid black;
    border-radius: 6px;
    height: 34px;
    background-color: rgb(101, 101, 235);
}